.bg_img
{     
        background-image: url("..//Img/f1.jpg");
        height: 100vh;
        /* -webkit-background-size:cover; */
        background-size: cover;
}
body{
        font-family: 'Redressed', cursive;
       margin: 0px; 
       background-color:#e2bcb7;
}
div{ 
 width:250;
 height:250;
 
 } 
 #head
 { color:white;
   text-align: center;
   margin:0;
 }

form{ border-radius: 5%;}
.hero_wrapper
{
        color:white;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 2.4rem;
}
.formcode input
{ display:block;
        width:80%;
        border-radius:2rem;
        margin: auto auto;
        padding: 2%;
        border:none;
        outline:none;
        text-align: centre;
}
.formcode button
{ display:block;
        width:20%;
        border-radius:.3rem;
        margin: 1rem auto 0;
        padding: .5rem;
        outline:none;
        border:none;   
        color:white;
        background-color:#00bab1;    
}

/* .dishes
{  display: block;
   width:200;
   height:200; 
   float: left;
   margin: 30px ;
   align-content: flex-end; 
   
   text-align:center;
   padding:3em;
    /* border-style: solid;
    border-radius:50%;
} */
.dishes
{
        display:block;
        width: 150;
        height:195;
        float:left;
        
}

.breakfast
{
        border-radius: 50%;
        margin: margin:auto auto auto 0;
}
.lunch
{
        border-radius: 50%;
        margin:auto 50% auto 0;


}
.breverage
{
        border-radius: 50%;
        margin:auto 0 auto 10%;
        position: 
        ;
}


.Snacks
{
        border-radius: 50%;
        margin:auto auto auto 0;

}
.dinner
{
        border-radius: 50%;
        margin:10%;

}
.dessert
{
        border-radius: 50%;
        margin:10%;

}

.heading{ font-size: 2em;
        text-align: center;
        text-decoration:underline;
        text-decoration-style:wavy;
        
}
@media screen and(max-width:700px)
{
        .hero_wrapper{
                width:100%;
                float:left;
        }
}
img{width:350px; height:350px;}
